<div id="new-post">
  <%= link_to "New Post", new_post_path, :class => "btn btn-success" %>
</div>

<h2><%= current_user.email %>'s Posts</h2>

<div class="row">
  <% @posts.each do |post| %>
    <ul>
      <h4><%= link_to "#{post.title}", post_path(post) %>
      <%= link_to "Edit Post", edit_post_path(post), class: "btn btn-success btn-xs" %>
      <%= link_to "Delete Post", post_path(post),
                                 data: { confirm: "Are you sure?" },
                                 method: "delete",
                                 :class => "btn btn-warning btn-xs" %>
      </h4> 
    </ul>
  <% end %>
</div>